h1 {
    font-family: Verdana;
    color: black;
}

h2 {
  font-family: Verdana;
}

h3 {
  font-size: 20;
  font-family: sans-serif;
  text-align: center;
}

p {
    font-size: 18;
    font-family: Tahoma, Geneva, sans-serif;
}

th {
  font-family: Tahoma;
}

td {
  font-family: Tahoma;
  border: 1px solid blue;
}

table {
  border-collapse: collapse;
  border: 1px solid blue;

}

hr {
  color: blue;
}

p1 {
  font-size: 15px
}

a:link {
  color: blue;
}

a:visited {
  color: green;
}

a:hover {
  color: red;
}

a:active {
  color: orange;
}

body {
  background-image: url("Logo.png");
  background-repeat: no-repeat;
  background-position: center;
}
