body {
    background-color: #0074D9;
}

h1 {
    font-family: Verdana;
    color: black;
    text-align: center;
}

h2 {
    font-family: Verdana;
}

h3 {
    font-size: 1em;
    font-family: sans-serif;
    text-align: center;
}

p {

}

th {
    font-family: Tahoma;
    border: transparent;
}

td {
    font-family: Tahoma;
    border: 1em solid blue;
    text-align: center;
    border: transparent;
    padding: 10px;
}

table {
    border-collapse: collapse;
    border: transparent;
    margin: auto;
    padding: 1em 3em;
}

hr {
    color: blue;
}


/*
a:link {
    color: blue;
}
*/


/*
a:visited {
    color: green;
}
*/

.topnav {
    background-color: aliceblue;
    overflow: hidden;
    text-align: center;
    width: 100%;
}

.topnav a:hover {
    color: beige;
    /*    background-color: floralwhite;*/
}

.topnav a:active {
    color: black;
    background-color: floralwhite;
}

.topnav a {
/*    float: left;*/
    display: inline-block;
    color: #595959;
    text-align: center;
    padding: 1em 1em;
    font-size: 1.3em;
    text-decoration: none;
}

#Home:hover {
    background-color: darkgreen;
}

#Code:hover {
    background-image: url(photos/code.png);
    background-repeat: no-repeat;
    background-position: center;
}

#Sport:hover {
    background-image: url(photos/bball.png);
    background-repeat: no-repeat;
    background-position: center;
}

#Hobby:hover {
    background-image: url(photos/drum.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

#Car:hover {
    background-image: url(photos/car.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

#Game:hover {
    background-image: url(photos/ps2.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

#Project:hover {
    background-image: url(photos/project.png);
    background-repeat: no-repeat;
    background-position: center;
}

.pclass {
    background-color: none;
    color: aliceblue;
}

.pdefault {
    color: chartreuse;
    font-size: 1em;
    font-family:  sans-serif;
    text-align: center;
    padding: .1em 3em;
    line-height: 1.5;
    background-color: darkslategrey;
    position: relative;
    width: 80%;
    margin: auto;
    border-radius: 25px;
}
